# Ignore artifacts:
.DS_Store
.env
.env.static
samconfig.toml
template.yaml
tsconfig.tsbuildinfo
/node_modules
/coverage
/.aws-sam
/tests/fixtures/
package-lock.json
dist
build
.build/
.nx
scripts/*.js
scripts/*.mjs

/.nx/cache
/.nx/workspace-data